body {
    font-family: Arial, sans-serif;
  }
  header, footer {
      display: flex;
      flex-direction: row;
  }
  header .profile-thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  header .profile-name {
    display: flex;
    margin-left: 10px;
    flex-direction: column;
  }
  header .follow-btn {
    display: flex;
    margin: 0 0 0 auto;
  }
  header .follow-btn button {
    border: 0;
    border-radius: 3px;
    padding: 5px;
  }
  header h3, header h4 {
    display: flex;  
    margin: 0;
  }
  #inner p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  #inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
  }
  footer {
  display: flex;
  }
  footer .stats {
    display: flex;
    font-size: 15px;
  }
  footer .stats strong {
    font-size: 18px;
  }
  footer .stats .likes {
    margin-left: 10px;
  }
  footer .cta {
    margin-left: auto;
  }
  footer .cta button {
    border: 0;
    background: transparent;
  }


h2{
  text-align: center;
  color: #ff00ff;
}

  #box-container {
    height: 500px;
    display: flex;
  }

  #box-1 {
    background-color: rgb(105, 171, 237);
    width: 50%;
    height: 50%;
  }

  #box-2 {
    background-color: rgb(243, 128, 86);
    width: 50%;
    height: 50%;
  }


  #box-container2 {
    display: flex;
    height: 500px;
    flex-direction: row-reverse;
  }
  #box-11 {
    background-color: dodgerblue;
    width: 50%;
    height: 50%;
  }

  #box-22 {
    background-color: orangered;
    width: 50%;
    height: 50%;
  }


  #box-container3 {
    display: flex;
    height: 500px;
    flex-direction: column;
  }
  #box-111 {
    background-color: rgb(19, 119, 220);
    width: 50%;
    height: 50%;
  }

  #box-222 {
    background-color: rgb(214, 70, 18);
    width: 50%;
    height: 50%;
  }